.chat-main
  .group
    %ul.group__right-box
      %li.group__right-box__name
        = @groupname
      %li.group__right-box__member
        Member:
        - @group.group_users.each do |group_user|
          = group_user.user.name
    =link_to edit_group_path(@group) do
      .group__left-box
        Edit

  .chat-main__message
    = render @messages

  .chat-main__form
    = form_for [@group, @message], html: { class: "input-text" } do |f|
      .new-message__box
        = f.text_field :content, class: 'box__text', placeholder: 'type a message'
        = f.label :image, class: 'box__image' do
          %i.fa.fa-image
          = f.file_field :image, class: 'box__image__file'
      = f.submit 'Send', class: 'submit-btn'